:root {
    --link-color-light: black;
    --link-color-dark: white;
}

.dark {
    background-color: #333;
    color: #fff;
}

.light {
    background-color: #fff;
    color: #333;
}

.dark .links {
    color: var(--link-color-dark);
    text-decoration: none;
    font-size: clamp(12px, 10vw, 18px);
    font-weight: 600;
    cursor: pointer;
}

.dark .mobileNavbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #222;
    width: 60vw;
    height: 100vh;
    padding : 30px;
}

.dark .image-frame:before {
    content: "";
    background-color: #fff !important;
}