.app__footer {
    background-color: #3CD6EB;
    height: max-content;
    padding: 20px;
    position: relative;
    display: flex;
    flex: 1;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;

    .app__footer-desc {
        width: 100%;
        color: #222;
        display: flex;
        flex-direction: column;
        justify-content: center;

        h4 {
            font-size: 1.2rem;
            text-transform: uppercase;
            letter-spacing: 1px;
        }

        p {
            margin-top: .9rem;
            font-size: 1.1rem;
            line-height: 1.7;
            font-weight: 500;
        }
    }

    .app__footer-links {
        width: 100%;
        // border: 1px solid black;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        ul {
            list-style: none;
            line-height: 2.0;
            font-size: 1.1em;
            // margin: 0 auto;
            color: #222;
        }

        li {
            display: flex;
            flex-direction: row;
            align-items: center;
        }
    }

    .divider {
        width: 100%;
        border: 1px solid #222;
        margin-top: 3rem;
    }

    .copyright {
        width: 100%;
        padding: 2rem 0 0;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        p {
            font-weight: 600;
            color: #222;
        }
    }

    @media screen and (max-width: 768px) {
        flex-direction: column;
    }
}