#home {
    position: relative;

    .app__wrapper {
        padding: 0;

        .copyright {
            display: none;
        }
    }
}

.app__header {
    flex: 1;
    width: 100%;
    height: 100%;
    flex-direction: row;

    padding: 6rem 2rem 0rem;

    @media screen and (min-width: 2000px) {
        padding-top: 8rem;
    }

    @media screen and (max-width: 1200px) {
        flex-direction: column;
    }

    @media screen and (max-width: 450px) {
        padding: 6rem 1rem 2rem;
    }
}

.app__header-info {
    flex: 0.65;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;

    margin: 0 2rem;

    @media screen and (max-width: 1200px) {
        width: 100%;
        margin-right: 0rem;
    }
}

.app__header-badge {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;

    .badge-cmp,
    .tag-cmp {
        padding: 1rem 1.5rem;
        background: var(--white-color);
        border-radius: 15px;
        flex-direction: row;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    }

    .badge-cmp {
        width: 100%;
    }

    .tag-cmp {
        flex-direction: column;
        margin-top: 3rem;
        max-width: 300px;
        width: auto;

        p {
            width: 100%;
            text-align: left;
        }

        @media screen and (max-width: 450px) {
            width: 100%;
            max-width: none;
        }
    }

    .p-text {
        font-size: 0.8rem;
        text-align: left;
        color: var(--gray-color);
        line-height: 1.5;
        font-weight: 500;
        font-family: 'Oswald', sans-serif;
    
        @media screen and (min-width: 2000px) {
            font-size: 1.75rem;
        }
    }

    span {
        font-size: 2.5rem;
        font-family: 'Oswald', sans-serif;

        @media screen and (min-width: 2000px) {
            font-size: 5rem;
        }
    }

    #button {
        padding-left: 33px;
        padding-right: 33px;
        padding-bottom: 16px;
        padding-top: 16px;
        border-radius: 9px;
        background: #3CD6EB;
        border: none;
        font-family: 'Oswald', sans-serif;
        color: #333 !important;
        text-align: center;
        cursor: pointer;
        transition: 0.4s;
        margin-top: 3rem;
        border-radius: 15px;
        font-size: 17px;
    }

    #button:hover {
        box-shadow: 7px 5px 56px -14px #3CD6EB;
    }

    #button:active {
        transform: scale(0.97);
        box-shadow: 7px 5px 56px -10px #3CD6EB;
    }

    @media screen and (max-width: 1200px) {
        justify-content: flex-start;
        align-items: flex-start;
    }

    .typewriter {
        width: 360px;
        font-size: 2.5rem;
        font-weight: 800;
        text-align: start;
        color: var(--black-color);
        text-transform: capitalize;
        display: inline-block;
        font-family: 'Oswald', sans-serif;


        span {
            color: var(--secondary-color);
        }

        @media screen and (min-width: 2000px) {
            font-size: 4rem;
        }

        @media screen and (max-width: 450px) {
            font-size: 1.75rem;
            font-weight: 500;
            flex: 1;
            display: flex;
            width: 100%;
            min-width: 60vw;

            span {
                color: var(--secondary-color);
                font-size: 1.75rem;
            }
        }

    }

    .typewriter .cursor {
        animation: blink-caret 0.75s step-end infinite;
    }

    @keyframes blink-caret {

        from,
        to {
            border-color: transparent;
        }

        50% {
            border-color: #333;
        }
    }

    @media screen and (max-width: 450px) {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

}

.app__header-circles {
    flex: 0.75;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    height: 100%;
    margin-left: 1rem;

    div {
        width: 100px;
        height: 100px;
        border-radius: 50%;

        background: var(--white-color);
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);

        img {
            width: 60%;
            height: 60%;
        }
    }

    // circles with different height & width

    div:nth-child(1) {
        width: 100px;
        height: 100px;
    }

    div:nth-child(2) {
        margin: 1.75rem;
        width: 150px;
        height: 150px;
    }

    div:nth-child(3) {
        width: 70px;
        height: 70px;
    }

    @media screen and (min-width: 2000px) {
        div:nth-child(2) {
            width: 400px;
            height: 400px;
        }

        div:nth-child(3) {
            width: 170px;
            height: 170px;
        }

        div:nth-child(1) {
            width: 200px;
            height: 200px;
        }
    }

    @media screen and (max-width: 1200px) {
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: 0;

        div {
            margin: 1rem;
        }
    }
}

.app__header-img {
    flex: 1;
    height: 100%;

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: relative;

    img {
        width: 100%;
        object-fit: contain;
        z-index: 1;
    }

    // .overlay_circle {
    //     position: absolute;
    //     left: 0;
    //     right: 0;
    //     bottom: 0;
    //     z-index: 0;
    //     width: 100%;
    //     height: 90%;
    // }

    @media screen and (max-width: 1200px) {
        margin: 2rem 0;
    }
}