.links_mobile {
    margin-bottom: 30px;
}

.navBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    z-index: 10;
    padding: 15px;
    align-items: center;
    width: 100%;
    position: fixed;

    .navItems {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 650px;
    }

    img {
        width: 150px;
        height: auto;

        @media screen and (min-width: 2000px) {
            width: 180px;
            height: auto;
        }
    }

    .links {
        // color: var(--link-color-light);
        text-decoration: none;
        font-size: clamp(12px, 10vw, 18px);
        font-weight: 600;
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        &:hover {
            color: #3CD6EB; //will change
            text-decoration: none;
        }

    }

}

.customDrawer {
    display: flex;
}

.mobileNavbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 75vw;
    height: 100vh;
    padding: 30px;

    background: url('../../assets/bgWhite.png');
    // background-color: var(--white-color);
    // background-color: white;
    background-size: cover;
    background-repeat: repeat;
    // border: 1px solid red;

    box-shadow: 0px 0px 20px rgba(168, 168, 168, 0.15);

    .customLogoContainer {
        // border: 1px solid red;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;

        img {
            width: 100px;
            height: auto;
        }
    }

    .links {
        // color: var(--link-color-light);
        text-decoration: none;
        font-size: clamp(12px, 10vw, 18px);
        font-weight: 600;
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        &:hover {
            color: #3CD6EB;
            text-decoration: none;
        }

    }

}

.mobileSwitch {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-end;
}